body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #1f1c2c, #928dab);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 15px;
  margin-top: 50px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

input[type="file"] {
  margin: 20px 0;
  color: white;
}

button {
  padding: 12px 25px;
  border: none;
  background: #00c6ff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #0072ff;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

footer {
  margin-top: auto;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #ddd;
}

#preview-box {
  margin-top: 15px;
}

#preview {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
